# Server Configuration
PORT=8080

# Database Configuration
DB_HOST=postgres.railway.internal
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=WcJLqgOaToGGxkSjgdpYixQYHgusWXve
DB_NAME=railway
DB_SSLMODE=disable
DB_URL=postgresql://postgres:WcJLqgOaToGGxkSjgdpYixQYHgusWXve@postgres.railway.internal:5432/railway

# JWT Configuration
JWT_SECRET=super-secret-jwt-key-change-in-production

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/google/callback

# Paystack Configuration
PAYSTACK_SECRET_KEY=sk_test_40304ead930893e6e29fa8e08dba5f971f7bc4f4
PAYSTACK_PUBLIC_KEY=pk_test_d2506b6e5076bf79ad88a64c8e9097fe7338f9e3
